<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
	      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>  
	</aside>  
 <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to SoundClone</h1>

	<div id="bannersliders_hype_container" style="position:relative;overflow:hidden;width:850px;height:420px;">
		<script type="text/javascript" charset="utf-8" src="BannerSliders_Resources/bannersliders_hype_generated_script.js?71062"></script>
	</div>

    <h2>
      This is the home page
	  <br />
	  <br />

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>